body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /* overflow: hidden; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

html {
    min-height: 100vh;
}

h1 {
    color: white;
    display: flex;
    text-decoration: underline;
    justify-content: center;
}

.wishes-container {
    display: flex;
}

#wishList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wish-items {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    margin: 24px;
}

form {
    margin-bottom: 20px;
    max-width: 50%;
}

.form-container {
    display: flex;
    justify-content: center;
}

/* niet heel netjes om aan de input te zitten maar wel makkelijk */
input {
    width: 100%;
    border-radius: 16px;
    padding: 16px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 16px;
    padding: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 16px;
    padding: 16px;
}

button:hover {
    background-color: #218838;
}

.snow {
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}